body{
	font-family: 'Rubik', sans-serif;
}
.scheduler-event {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #202b46 !important;
    color: #fff !important;
    height: 100px !important;
}
a.down_doc {
    text-decoration: underline;
    color: red;
}
.contrast-blue.login-form-background, .contrast-blue .login-form-background {
    background: #ffffff!important
}

#main-nav .navigation > .nav > li > a {
    height: 45px !important;
    border-bottom: none !important;
    border-top: none !important;
    line-height: 20px !important;
    padding: 13px 5px 13px 5px !important;
}
#main-nav .navigation > .nav > li > a span {
    font-size: 16px !important;
    font-weight: 600 !important;
}
#main-nav .navigation > .nav > li:hover > a span,
#main-nav .navigation > .nav > li:focus > a span,
#main-nav .navigation > .nav > li.active > a span {
    padding-left: 0px !important;
    color: #fff !important;
    text-shadow: none !important;
}
#main-nav .navigation > .nav > li:hover > a i,
#main-nav .navigation > .nav > li:focus > a i,
#main-nav .navigation > .nav > li.active > a i {
    color: #fff !important;
}
#main-nav .navigation > .nav > li > a i {
    font-size: 16px !important;
    margin-right: 9px !important;
    color: #b5141d  !important;
}
#main-nav .navigation > .nav > li:hover > a,
#main-nav .navigation > .nav > li:focus > a,
#main-nav .navigation > .nav > li.active > a {
    background-color: #b5141d  !important;
    box-shadow: 0 12px 20px -10px rgba(23, 169, 168, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(23, 169, 168, 0.2) !important;
}
#main-nav .navigation > .nav > li {
    margin: 15px 7px !important;
}
#main-nav .navigation > .nav {
    box-shadow: 0px 0 76px 31px #fcfcfc !important;
}
header .navbar {
    min-height: 60px !important;
    height: 60px !important;
    background-color: #202b46!important;
}
#main-nav {
    top: 60px !important;
}
header .navbar .navbar-brand img {
    margin-top: 10px !important;
    height: 40px !important;
}
ul.nav.nav-tabs li .electricli{
    background-color: #003929 !important;
}
ul.nav.nav-tabs li .plumbingli{
    background-color: #202b46 !important;
}
ul.nav.nav-tabs li .heatingli{
    background-color: #f10707 !important;
}
ul.nav.nav-tabs li .coolingli{
    background-color: #000080 !important;
}

ul.nav.nav-tabs li a.electricli:hover {
    border-radius: 6px 6px 0 0 !important;
    color: #003929 !important;
    background-color: #fff !important;
}
ul.nav.nav-tabs li a.coolingli:hover {
    border-radius: 6px 6px 0 0 !important;
    color: #000080  !important;
	background-color: #fff !important;
}
ul.nav.nav-tabs li a.plumbingli:hover {
    border-radius: 6px 6px 0 0 !important;
    color: #202b46 !important;
	background-color: #fff !important;
}
ul.nav.nav-tabs li a.heatingli:hover {
    border-radius: 6px 6px 0 0 !important;
    color: #f10707 !important;
	background-color: #fff !important;
}

li.subfol_lists.active {
    border: 1px solid #fff !important;
    color: #003929 !important;
    border-bottom: none !important;
	border-radius:6px;
}
li.subtaskfol_lists.active {
    border: 1px solid #fff !important;
    color: #003929 !important;
    border-bottom: none !important;
	border-radius:6px;
}
ul.nav.nav-tabs li .otherli{
    margin: 0px !important;
    border-radius: 6px 6px 0 0 !important;
    height: auto !important;
    border: 1px solid transparent !important;
    color: #000 !important;
    background: #FFFFB6;
}
header .navbar .toggle-nav {
    color: white !important;
    text-shadow: none !important;
    margin-top: 7px !important;
    margin-left: 28px !important;
    background-color: transparent !important;
    border: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    font-size: 20px !important;
}
.contrast-red header .navbar .toggle-nav:active,
.contrast-red header .navbar .toggle-nav.active,
.contrast-red header .navbar .toggle-nav:hover {
    background-color: transparent !important;
}
.contrast-red header .navbar > .nav > li.light > a:hover,
.contrast-red header .navbar > .nav > li.light > a:active,
.contrast-red header .navbar > .nav > li.light > a:focus {
    background-color: transparent !important;
}
.contrast-red header .navbar > .nav > li.light > a,
.contrast-red header .navbar > .nav > li.medium > a,
.contrast-red header .navbar > .nav > li.dark > a {
    background-color: transparent !important;
}
label.required:after {
    color: #cc0000;
    content: "*";
    font-weight: bold;
    margin-left: 5px;
}
.box .box-content {
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2) !important;
    padding: 20px !important;
}
.panel.panel-default {
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2) !important;
}
.box .box-header.blue-background {
/*    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2) !important;
    margin: 10px 0 !important;
    background-color: #333244 !important;*/
	background-color:#fbfbfb!Important; border:0;
}
header .navbar > .nav {
    margin: 7px !important;
}
.main-nav-closed #main-nav .navigation > .nav > li:hover > a > span {
    background-color: #fff !important;
    border: none !important;
    border-left: none!important;
    color: #0089bc !important;
    border: 1px solid #0089bc !important;
    padding-left: 13px !important;
    top: 0px !important;
    left: 31px !important;
    width: 250px !important;
    height: 45px !important;
    padding-top: 3px !important;
    box-shadow: 0 12px 20px -10px rgba(23, 169, 168, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(23, 169, 168, 0.2) !important;
}
.btn-group.open .btn-success.dropdown-toggle,
.btn.btn-success {
    border-color: none !important;
    text-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    /*box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2) !important;*/
    padding: 5px 20px !important;
    border: none !important;
    /* margin-bottom: 20px !important; */
    
    margin-top: 10px !important;
    background-color: #b5141d !important;
    line-height: 25px !important;
}
.btn-group.open .btn-success.dropdown-toggle:hover,
.btn.btn-success:hover {
    background-color: #202b46 !important;
}
table.dataTable tbody th,
table.dataTable tbody td {
    padding: 13px 18px !important;
    font-size: 13px !important;
}
.form-control {
    box-shadow: none !important;
    border: 1px solid #0089bc !important;
    height: 40px !important;
}
.btn-group.open .btn.dropdown-toggle,
.btn {
    box-shadow: none !important;
    border: 1px solid #b5141d  !important;
    background-color: #b5141d  !important;
    color: #fff !important;
    font-size: 13px !important;
}
.btn-group.open .btn.dropdown-toggle:hover,
.btn:hover {
    border: 1px solid #202b46 !important;
    background-color: #202b46 !important;
}
/*.btn-group.open .btn.dropdown-toggle:hover,
.btn:hover {
    box-shadow : 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2) !important;
}*/
.form-control:focus,
.form-control:hover {
    box-shadow: none !important;
    border: 1px solid #333244 !important;
}
.panel-default > .panel-heading {
    border: 1px solid #b5141d !important;
    background-color: #b5141d !important;
    color: #fff !important;
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2) !important;
    /*margin: -22px 16px 0 !important;*/
    font-size: 21px !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: #fff !important;
    border: 1px solid transparent !important;
    background-color: #0089bc !important;
    background: #0089bc !important;
}
table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child:before,
table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child:before {
    top: 19px !important;
    left: 5px !important;
    color: white !important;
    padding: 1px !important;
    background-color: #0089bc !important;
    box-shadow: none !important;
    border: none !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    border-radius: 0 !important;
}
select2-container.form-control,
.select2-container-multi .select2-choices,
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.form-control,
.uneditable-input {
    color: #3c3c3c !important;
    border-color: #0089bc !important;
    background-color: transparent !important;
    height: 35px !important;
    padding: 3px 7px !important;
    box-shadow: none !important;
    border: 1px solid #0089bc !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    color: #fff !important;
}
body.contrast-red.login.contrast-background {
    background-color: #0089bc !important;
}
.well,
.nav-pills > li > a,
.navbar-inner,
.breadcrumb,
.nav-tabs > li > a,
.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a,
.tabs-left > .nav-tabs > li > a,
.accordion-group,
input[type="text"],
input[type="password"],
input[type="email"],
.ui-autocomplete-input,
textarea,
.uneditable-input,
.popover,
.popover-title,
.progress,
.thumbnail {
	/* .tooltip .tooltip-inner, */
    height: 35px !important;
    border: 1px solid #0089bc !important;
    margin: 5px 0 !important;
}
body.login .login-container {
    width: 100%;
}
body.login .login-container .with-icon-over-input [class^="icon-"],
.text-muted {
    color: #b5141e !important;
    top: 10px !important;
}
button.btn.btn-block {
    height: 40px !important;
    padding: 5px 20px !important;
    font-size: 16px !important;
    width: auto !important;
    text-align: center !important;
    margin: 0 auto !important;
}
.ticket-select-process {
    display: inline-block !important;
    margin: 12px !important;
    width: 335px !important;
}
.ticket-select-process .btn.btn-success {
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}
.border-bottom {
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
    margin-bottom: 15px;
    padding-top: 15px;
}
.contrast-red .select2-results .select2-highlighted,
.contrast-red .daterangepicker .ranges li.active,
.contrast-red .daterangepicker .ranges li:hover {
    background: #0089bc !important;
}
.select2-results li {
    padding: 5px !important;
}
.daterangepicker.ltr {
    height: auto !important;
}
.ranges li {
    background-color: transparent !important;
    border: 1px solid transparent !important;
    padding: 8px 10px !important;
    margin-bottom: 5px !important;
}
span.dtr-title {
    padding: 10px !important;
}
.text-red,
.contrast-red .text-contrast,
.contrast-red .contrast {
    color: #0089bc !important;
}
.btn.btn-info.btn-xs {
    background-color: transparent !important;
    border: 2px solid transparent !important;
    color: #333244 !important;
}
.btn.btn-info.btn-xs:hover {
    border: 2px solid #333244 !important;
    box-shadow: none !important;
    color: #fff !important;
    background-color: #333244 !important;
}
.btn.btn-primary.btn-xs {
    background-color: transparent !important;
    border: 2px solid transparent !important;
    color: #888 !important;
}
.btn.btn-primary.btn-xs:hover {
    border: 2px solid #888 !important;
    background-color: #888 !important;
    box-shadow: none !important;
    color: #fff !important;
}
.btn.btn-danger.btn-xs {
    background-color: transparent !important;
    border: 2px solid transparent !important;
    color: #D9534F !important;
}
.btn.btn-danger.btn-xs:hover {
    border: 2px solid #D9534F !important;
    box-shadow: none !important;
    color: #fff !important;
    background-color: #D9534F !important;
}
.table thead > tr > th,
.table thead > tr > td,
.table tbody > tr > th,
.table tbody > tr > td,
.table tfoot > tr > th,
.table tfoot > tr > td {
    padding: 18px !important;
}
.label-success {
    padding: 3px 11px !important;
}
ul.nav.nav-tabs li a {
    border: none !important;
}
ul.nav.nav-tabs li.active a {
    border-top: 2px solid #0089bc !important;
}
table.dataTable tbody tr:hover {
    background-color: #f9f9f9 !important;
}
.status-label {
    padding: 3px 7px !important;
    border-radius: 18px !important;
    color: #fff !important;
    background: #000 !important;
    font-size: 11px !important;
}
.bg-red {
    background: #D9534F !important;
}
.bg-green {
    background: #5CB85C !important;
}
.bg-blue {
    background: #337AB7 !important;
}
.bg-yellow {
    background: #F0AD4E !important;
}
.bg-aqua {
    background: #5BC0DE!important;
}
.contrast-red .dropdown-menu > .active > a, .contrast-red .dropdown-menu > .active > a:hover, .contrast-red .dropdown-menu > .active > a:focus, .contrast-red .dropdown-menu > li > a:hover, .contrast-red .dropdown-menu > li > a:focus, .contrast-red .dropdown-submenu:hover > a, .contrast-red .dropdown-submenu:focus > a{
	background-color: #0089bc !important;
}
table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child, table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child{
	
    padding-left: 30px !important;
}
.modal-header .close {
    margin-top: -11px !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
	color:#fff !important;
}
.select2-container-multi .select2-choices .select2-search-field input{
	margin-top: 3px !important;
    padding: 0 0 0 4px !important;
    margin-left: 4px !important;
	height:auto !important;
	box-shadow:none !important;
}
.form-control.select2-container{
	height:auto !important;
	padding:0 !important;
}
.btn.input-tooltip.has-tooltip {
    background-color: transparent !important;
    color: #000 !important;
    border: none !important;
    padding: 8px 5px !important;
}
.btn.input-tooltip.has-tooltip:hover {
   box-shadow: none !important;
    
}
header .navbar .widget .dropdown-menu {
    padding: 15px;
    width: 350px;
}
header .navbar .widget .dropdown-menu > li {
    width: 100%;
}
.contrast-red header .navbar > .nav > li.medium > a .label {
    color: #0089bc ;
    border-radius: 37px !important;
    position: absolute;
    top: 0;
    left: 26px;
    font-size: 11px;
}
header .navbar .widget .dropdown-menu > li.widget-footer a {
   
    font-weight: bold;
}
.text-info {
    color: #0089bc !important;
}
.contrast-red #main-nav .navigation > .nav > li.active > a [class^="icon-"] ,.contrast-red #main-nav .navigation > .nav > li:hover > a [class^="icon-"]{
	line-height: 20px;
    font-weight: 600;
	color: #fff !important;
}
#main-nav .navigation > .nav > li > a .icon-angle-down{
	line-height: 20px;
    font-weight: 600;
}
header .navbar .widget .dropdown-menu > li > a:hover span.text-info {
    color: #333244 !important;
    font-weight: 600;
}

/* .people-form-section-wrapper {
    
}
 */
 
 
@media only screen and (max-width: 991px){
	table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child:before{
		left: 6px !important;
	}
	.btn.btn-success{
		 margin: 10px 10px 10px 0px !important; 
	}
}
@media only screen and (max-width: 797px){
	.ticket-select-process {    
		width: 90% !important;
	}
	.dataTables_wrapper{
		padding: 5px !important;
	}
	
	#main-nav .navigation .search form .search-wrapper{
		width: auto !important;
		margin: 10px !important;
		padding: 0 10px !important;
	}
	#main-nav .navigation .search form .search-wrapper button{
		top: 10px !important;
	}
	.dataTables_wrapper .dataTables_paginate {
		margin: 11px 3px !important;
	}


}
@media only screen and (max-width: 400px){
	.table thead > tr > th, .table thead > tr > td, .table tbody > tr > th, .table tbody > tr > td, .table tfoot > tr > th, .table tfoot > tr > td{
		padding: 15px 10px !important;
	}
	table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child:before{
		height: 12px !important;
		width: 12px !important;
		top: 16px !important;
		padding: 0px !important;
		font-size: 12px !important;
	}
	header .navbar > .nav {
		margin: 5px !important;		
	}
	header .navbar .user-menu .dropdown-toggle {
		padding: 0 4px;
	}
    header .navbar .navbar-brand img {
        height: 30px !important;
    }
    header .navbar .widget .dropdown-menu{
        width:250px;
    }
}
@media only screen and (max-width: 357px){
	div#reportrange {
		font-size: 12px;
	}
}
@media only screen and (max-width: 374px){

    .nav > li > a {
        padding: 10px 0px;
    }

    header .navbar > .nav {
        margin: 10px 0 !important;
    }

    header .navbar .toggle-nav {
        margin-left: 12px !important;
    }
	
}
ul.nav.nav-tabs li.active a.electricli {
    border-radius: 6px 6px 0 0 !important;
    color: #fff!important;
    background-color: #003929 !important;
}
ul.nav.nav-tabs li.active a.coolingli {
    border-radius: 6px 6px 0 0 !important;
    color: #fff!important;
    background-color: #000080 !important;
}
.btn.btn-success:focus,.btn.btn-success:active{
        background-color: #202b46 !important;
        color:#fff !important;
}
@media only screen and (min-width: 1024px){
body.login .login-container {
    width: 700px !important;
}
}