* {
	font-family: 'Montserrat', sans-serif;
}
a:hover, a:focus {
	text-decoration:none !important;
	transition: all 0.3s ease 0s;
	transition: background 0.3s ease 0s;
}
/* ============== Login-Register =============== */
body.login .middle-container {
	width: 550px !important;
	margin: 0 auto !important;
}
.alert-warning {
    background-color: #f2dede !important;
    border-color: #fbeed5 !important;
    color: #a94442 !important;
}
.login-container input {
    border: 1px solid #ddd !important;
    padding: 20px !important;
}
img.product_thumb {
    width: 100px;
    height: 100px;
}
.video_error p {
    color: red;
    font-weight: bold;
}
.document_error p {
    color: red;
    font-weight: bold;
}
.employee_error p {
    color: red;
    font-weight: bold;
}
select[multiple], select[size] {
    height: 70px !important;
}
textarea#street1,#street2,#jobtaskdescription,#description,#notes,#address,#notess{
	height: 65px !important;
}
td.nofound_align {
    text-align: center;
    font-weight: 500;
    font-size: 15px;
}
.login-container input:hover , .login-container input:focus {
    border: 1px solid #b5141e!important;
}
.login-container-header h1 {
    color: #fff !important;
}
.reg-link {
    color: #fff;
    font-size: 16px;
}
button.btn.btn-sign-in {
    border-radius: 4px !important;
	transition: all 0.3s ease 0s;
}
/*.btn:hover {
    box-shadow: 0 10px 1px -12px rgba(0, 0, 0, 0.2), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2) !important;
}*/
.checkbox {
    padding-left: 20px; 
	margin-bottom: 30px;
}
.checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 15px;
    padding-top: 2px;
}
.checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    margin-left: -20px;
    border: none;
    border-radius: 20%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    box-shadow: 0 0px 18px #eee;
    top: 0px;
    border: 1px solid #ddd;
}
.checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0px;
    top: 0px;
    margin-left: -20px;
    padding-left: 5px;
    padding-top: 3px;
    font-size: 11px;
    color: #fff;
    background: #0089bc!important;
    border-radius: 20%;
}
.checkbox input[type="checkbox"] {
    opacity: 0; }
.checkbox input[type="checkbox"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }
.checkbox input[type="checkbox"]:checked + label::after {
    font-family: 'FontAwesome';
    content: "\f00c"; }
.checkbox input[type="checkbox"]:disabled + label {
    opacity: 0.65; }
.checkbox input[type="checkbox"]:disabled + label::before {
    background-color: #eeeeee;
    cursor: not-allowed; }
.checkbox.checkbox-circle label::before {
    border-radius: 50%; }
.checkbox.checkbox-inline {
    margin-top: 0; }

.checkbox-primary input[type="checkbox"]:checked + label::before {
    background-color: #428bca;
    border-color: #428bca; }
.checkbox-primary input[type="checkbox"]:checked + label::after {
    color: #fff; }

.checkbox-danger input[type="checkbox"]:checked + label::before {
    background-color: #d9534f;
    border-color: #d9534f; }
.checkbox-danger input[type="checkbox"]:checked + label::after {
    color: #fff; }

.checkbox-info input[type="checkbox"]:checked + label::before {
    background-color: #5bc0de;
    border-color: #5bc0de; }
.checkbox-info input[type="checkbox"]:checked + label::after {
    color: #fff; }

.checkbox-warning input[type="checkbox"]:checked + label::before {
    background-color: #f0ad4e;
    border-color: #f0ad4e; }
.checkbox-warning input[type="checkbox"]:checked + label::after {
    color: #fff; }

.checkbox-success input[type="checkbox"]:checked + label::before {
    background-color: #5cb85c;
    border-color: #5cb85c; }
.checkbox-success input[type="checkbox"]:checked + label::after {
    color: #fff; }
.checkbox.check_remember {
    margin-top: 20px;
}
.radio {
  padding-left: 20px; }
  .radio label {
    display: inline-block;
    position: relative;
    padding-left: 15px; }
    .radio label::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 21px;
      height: 21px;
      left: 0;
      margin-left: -20px;
      border: 1px solid #cccccc;
      border-radius: 50%;
      background-color: #fff;
      -webkit-transition: border 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out;
      transition: border 0.15s ease-in-out; }
    .radio label::after {
      display: inline-block;
      position: absolute;
      content: " ";
      width: 11px;
      height: 11px;
	  left: 5px;
	   top: 5px;
      margin-left: -20px;
      border-radius: 50%;
      background-color: #0089bc;
      -webkit-transform: scale(0, 0);
      -ms-transform: scale(0, 0);
      -o-transform: scale(0, 0);
      transform: scale(0, 0);
      -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); }
  .radio input[type="radio"] {
    opacity: 0; }
    .radio input[type="radio"]:focus + label::before {
      outline: thin dotted;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px; }
    .radio input[type="radio"]:checked + label::after {
      -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      transform: scale(1, 1); }
    .radio input[type="radio"]:disabled + label {
      opacity: 0.65; }
      .radio input[type="radio"]:disabled + label::before {
        cursor: not-allowed; }
  .radio.radio-inline {
    margin-top: 0; }

body.login .login-container .with-icon-over-input [class^="icon-"], .text-muted {
	top: 10px !important;
    right: 15px;
}
/* ============== Admin =============== */
header .navbar > .nav > li.dark > a:hover, header .navbar > .nav > li.dark > a:active, header .navbar > .nav > li.dark > a:focus {
   background-color: #333244 !important;
}
li.dropdown.medium.only-icon.widget a {
    padding: 10.5px 15px;
}
li.dropdown.medium.only-icon.widget a:hover , li.dropdown.medium.only-icon.widget a:focus {
    background: #333244 !important;
}
header .navbar > .nav > li .label {
    border-radius: 10px !important;
}
.btn-group.open .btn-primary.dropdown-toggle, .btn.btn-primary {
	text-shadow: none !important;
}
.main-nav-opened .main-nav {
    -webkit-transform: translate(-230px, 0);
    -ms-transform: translate(-230px, 0);
    -o-transform: translate(-230px, 0);
    transform: translate(-230px, 0);
}
.main-nav-closed .main-nav {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    width: 50px !important;
    z-index: 850;
}
#content {
    -webkit-transition: -webkit-transform .3s ease-in-out,margin .3s ease-in-out;
    -moz-transition: -moz-transform .3s ease-in-out,margin .3s ease-in-out;
    -o-transition: -o-transform .3s ease-in-out,margin .3s ease-in-out;
    transition: transform .3s ease-in-out,margin .3s ease-in-out;
    /* margin-left: 230px; */
    z-index: 820;
}
nav#main-nav {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    /* width: 230px; */
    -webkit-transition: -webkit-transform .3s ease-in-out,width .3s ease-in-out;
    -moz-transition: -moz-transform .3s ease-in-out,width .3s ease-in-out;
    -o-transition: -o-transform .3s ease-in-out,width .3s ease-in-out;
    transition: transform .3s ease-in-out,width .3s ease-in-out;
}
nav#main-nav {
    background: #202b46;
}
#main-nav .navigation > .nav {
    box-shadow: none !important;
    border-bottom: none !important;
    background: #202b46  !important;
}
#main-nav .navigation > .nav > li > a {
    background-color: transparent !important;
    height: auto !important;
    padding: 12px 5px 12px 15px !important;
    border: none !important;
}
#main-nav .navigation > .nav > li .nav > li > a {
	color: #cdd7dc !important;
    text-shadow: none !important;
    font-weight: normal !important;
	font-size: 15px !important;
	border: none !important;
	background: transparent !important;
}
#main-nav .navigation > .nav > li .nav > li > a i:before {
	position: relative;
    left: -14px;
    font-size: 13px !important;
    color: #cdd7dc !important;
}
#main-nav .navigation > .nav > li > a.in span , #main-nav .navigation > .nav > li > a span{
    color: #cdd7dc !important;
    text-shadow: none !important;
    font-weight: normal !important; font-size:13px!Important
}
#main-nav .navigation > .nav > li.active > a span , #main-nav .navigation > .nav > li:hover > a [class^="icon-"]{
	font-weight: normal !important;
}
.contrast-red #main-nav .navigation > .nav > li.active > a [class^="icon-"], .contrast-red #main-nav .navigation > .nav > li:hover > a [class^="icon-"] {
    line-height: 20px;
    font-weight: 600;
    color: #fff !important;
}
#main-nav .navigation > .nav > li {
	margin: 0px !important;
}
#main-nav .navigation > .nav > li:hover > a , #main-nav .navigation > .nav > li:hover > a span {
	color: #fff !important;
}
#main-nav .navigation > .nav > li > a i {
    margin-right: 15px !important;
    margin-top: -2px;
}
#main-nav .navigation > .nav > li > a i:before {
    position: relative;
    top: -2px;
}
#main-nav .navigation > .nav > li .nav.in , #main-nav .navigation > .nav > li .nav{
    border: none;
    background: #2d2d3d !important;
}
#main-nav .navigation > .nav > li .nav > li > a {
    color: #fff;
    font-size: 16px;
    padding-left: 25px;
    border-top: none;
    padding: 10px 0px 10px 50px;
}
#main-nav ul.nav.nav-stacked > li .in.nav > li > a i:before {
    position: relative;
    left: -14px;
    font-size: 13px !important;
    color: #cdd7dc !important;
}
#main-nav ul.in.nav.nav-stacked > li > .nav > li {
    padding-left: 40px;
    position: relative;
}
#main-nav ul.in.nav.nav-stacked > li .nav > li > a {
    padding-left: 0px !important;
}
#main-nav ul.nav.nav-stacked > li .in.nav > li > a span {
    font-size: 16px !important;
	color: #cdd7dc;
}
#main-nav ul.nav.nav-stacked > li .in.nav > li:hover > a span , #main-nav ul.nav.nav-stacked > li .in.nav > li:hover > a i:before{
	color: #0089bc !important;
}
.main-nav-closed #main-nav .navigation > .nav > li:hover > a > span {
    left: 45px !important;
    background: #0089bc !important;
    color: #fff !important;
}
.main-nav-closed #main-nav .navigation > .nav > li:hover > ul {
    left: 45px;
    top: 44px;
    width: 250px;
}
.main-nav-closed i.icon-angle-down.angle-down:before {
    top: 15px !important;
    position: relative;
}
.contrast-blue #main-nav .navigation > .nav > li:hover > a [class^="icon-"], .contrast-blue #main-nav .navigation > .nav > li:hover > a [class*=" icon-"], .contrast-blue #main-nav .navigation > .nav > li:focus > a [class^="icon-"], .contrast-blue #main-nav .navigation > .nav > li:focus > a [class*=" icon-"], .contrast-blue #main-nav .navigation > .nav > li.active > a [class^="icon-"], .contrast-blue #main-nav .navigation > .nav > li.active > a [class*=" icon-"]{
    color: #fff !important;
}
li.dropdown.medium.only-icon.widget.open , li.dropdown.dark.user-menu.open{
    background: #333244;
}
header .navbar .widget .dropdown-menu {
	padding: 5px;
}
header .navbar .widget .dropdown-menu > li > a {
    padding: 1px 5px;
}
header .navbar .widget .dropdown-menu > li .widget-body i {
    color: #0089bc !important;
}
header .navbar .toggle-nav {
    margin-left: 0px !important;
    margin-top: 13px !important;
}
header .navbar > .nav {
    margin: 10px 0px !important;
}
li.widget-footer a{
	background-color: #0089bc !important;
	color: #fff !important;
}
.user-menu ul.dropdown-menu {
    padding: 5px !important;
    width: 205px;
}
.user-menu ul.dropdown-menu li a {
    padding: 10px;
}
.user-menu ul.dropdown-menu li.divider {
    margin: 0px;
}
.user-menu ul.dropdown-menu li a i {
    margin-right: 10px !important;
    color: #b5141d;
}
.user-menu ul.dropdown-menu li a:hover i {
    color: #fff;
}
#main-nav ul.nav.nav-stacked > li .in.nav > li.active > a span {
    color: #0089bc !important;
}
#main-nav ul.nav.nav-stacked > li .in.nav > li.active > a i:before {
    color: #0089bc !important;
}
header .navbar .widget .dropdown-menu li {
    background: transparent !important;
}
header .navbar .widget .dropdown-menu li.divider {
    background-color: #e5e5e5 !important;
}
.page-header {
    margin: 0px 0 0px !important; 
	min-height: 15px;
}
.box .box-header.blue-background {
	margin: 0px !important;
}
button.applyBtn.btn {
    margin-top: 0px !important;
}
a.box-collapse_custome i {
    font-size: 18px;
    margin-right: 3px;
}
a.box-collapse_custome {
    position: relative;
    padding: 8px 15px;
    background: #0089bc;
    color: #fff;
    font-size: 16px;
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2) !important;
    border-radius: 6px;
}
.box .box-header .actions , .box-header .title .btn-success{
	margin:0px !important;
}
.btn {
    text-shadow: none !important;
}
.select2-container .select2-choice , div#reportrange {
    border: 1px solid #ddd !important;
    height: 45px !important;
    padding: 5px 10px !important;
}
div#reportrange {
    padding: 10px 10px !important;
}
a#genrate_pdf {
	height: 45px !important;
	padding-top: 10px !important;
}
.select2-container {
    height: auto !important;
}
.select2-container .select2-choice .select2-arrow {
	top:7px;
}
div#role-table_wrapper input , div#role-table_wrapper select {
	border: 1px solid #ddd !important;
    padding: 5px 10px !important;
}
select2-container.form-control, .select2-container-multi .select2-choices, select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .form-control, .uneditable-input , input[type="file"] {
    border: 1px solid #ddd !important;
    padding: 5px 10px !important;
	font-weight: normal !important;font-size: 13px!Important;
}
form.form-horizontal input.select2-input {
    border: none !important;
}
input[type="file"] {
    width: 100%;
}
.form-control:focus, .form-control:hover {
    border: 1px solid #0089bc !important;
}
.dataTables_wrapper {
    padding: 10px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border-radius: 3px;
    background: #ffffff;
    margin-bottom: 20px;
	margin-top: 25px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled { 
	cursor: not-allowed;
	color: #777 !important;
    cursor: not-allowed !important;
    background-color: #fff !important;
    border-color: #ddd !important;
}
.dataTables_wrapper .dataTables_paginate a.paginate_button.current {
	color: #fff !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
	color: #777 !important;
    background-color: #fff !important;
    border-color: #ddd !important;
	background: #fafafa !important;
	margin-left: 0px !important;
	border-radius: 0px !important;
}

div.dataTables_paginate  {
    margin-top: 15px;
}
div.dataTables_info {
    margin-top: 20px;
}
table.dataTable {
    width: 100% !important;
}
.btn.btn-info.btn-xs:hover {
	background: transparent !important;
	border-color: transparent !important;
	color: #333244 !important;
}
a.file_upload {
    color: #333244;
}
table#DataTables_Table_0 .btn.btn-info.btn-xs i {
    color: #337AB7;
}
.modal-header {
    background: #333244;
    color: #fff;
}
h4.modal-title {
    color: #fff;
}
.modal-header .close {
    color: #fff;
    margin-top: -20px !important;
}
.link_file {
    color: #0089bc !important;
    text-decoration: underline;
}
span.dtr-data i {
    margin-right: 10px;
}
.chat form button {
    top: -5px !important;
    height: 34px !important;
}
.table-responsive.tbl_ticket_id {
    width: 500px;
}
.contrast-red h1 [class^="icon-"] {
	color: #fff;
}
a#open_model {
    margin-top: 0px !important;
}
a#add_new {
    height: 45px !important;
    padding: 10px !important;
}
.modal-title {
    color: #fff;
}
.btn {
    border-radius: 2px !important;
}
.select2-container .select2-choice abbr {
	top: 14px;
}
ul.nav.nav-tabs {
    border: none !important;
    margin-bottom: 10px !important;
    background: #0089bc ;
    padding: 10px 10px 0;
}
ul.nav.nav-tabs li a {
	margin: 0px !important;
	border-radius: 6px 6px 0 0 !important;
	height: auto !important;
	border: 1px solid transparent !important;
	color: #fff !important;
}
ul.nav.nav-tabs li.active a {
    border: 1px solid #0089bc !important;
    border-bottom: none !important;
    background: #fff;
    color: #0089bc !important;
    border-radius: 6px 6px 0 0 !important;
}
ul.nav.nav-tabs li a:hover {
	border-radius: 6px 6px 0 0 !important;
    color: #0089bc !important;
    background: #fff;
}
.btn-submit-edit-s {
    margin-top: 20px;
}
.btn.btn-search-s {
    height: 35px !important;
}
.status_rad .radio {
    display: inline;
    margin-right: 20px;
}
.status_rad {
    margin-top: 5px;
}
input#s2id_autogen2 {
    width: 150px !important;
}
table.tbl_avialability {
    width: 100%;
}
.availability_head_row label {
    background: #000;
    color: #fff;
    padding: 10px 20px;
}
.availability_head_row {
    margin-top: 30px;
}
.tooltip_head {
    float: right;
    color: #fff;
}
.tooltip_head i {
	color: #fff;
}

.btn.has-popover {
    background: transparent !important;
    border: none !important;
}
.btn.has-popover i {
    color: #fff !important;
    font-size: 20px !important;
}
.tooltip .tooltip-inner {
    font-size: 13px !important;
    line-height: 20px !important;
    padding: 15px 15px !important;
    letter-spacing: 0.6px !important;
}
.popover-title {
    margin-top: 0px !important;
    border: none !important;
    background: #0089bc !important;
    color: #fff !important;
}
.popover {
    padding: 0px !important;
    background: transparent !important;
    border: none !important;
}
.popover-content {
    background: #fff;
    color: #000;
    margin-top: -5px;
    box-shadow: 0 3px 13px #ddd;
}
.popover.left .arrow:after {
	border-left-color: #0089bc !important; 
}
.popover.left .arrow {
    margin-top: -15px !important;
    right: -7px !important;
    border: none !important;
    top: 73%!important;
}
.box .box-header {
    position: relative;
}

.box-header .btn.input-tooltip.has-tooltip {
    color: #fff !important;
    font-size: 20px !important;
    padding: 0px !important;
}
.btn.btn-info.btn-xs:hover {
    background: #333244 !important;
    color: #fff !important;
}
table#DataTables_Table_0 .btn.btn-info.btn-xs:hover {
    background: transparent !important;
}
select#phone_type_1, input#phone_number_2, select#phone_type_2 {
    margin: 7px 0px !important;
}
.no-radious {
	border-radius:0px !important;
}
button.btn.btn-default.no-radious {
    padding: 7.5px 15px;
}

.box .box-content {
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2) !important;
    padding: 20px !important;
}
.cash_available_div {
    display: inline-flex;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}
.cash_available_div p {
    margin-top: 10px;
    margin-right: 10px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    color: #777 !important;
}
.ad_bank_detail {
    margin-top: 25px;
}
.margin-top-50 {
	margin-top: 50px !important;
}
button#changedate {
	margin-top: -5px !important;
    margin-left: 5px;
}

/** geothermal HTML **/

.box-1{ padding: 10px 0;margin: 0 0 10px 0;position: relative;border: 1px solid #ddd; }
.box-2{ padding: 10px 0 20px 0;margin: 0 0 10px 0;}
.box-1 .h3-title{padding: 10px 0;margin: 0;display: inline-block;text-transform: uppercase;font-size: 16px;font-weight: 600; }
.box-1 p.height-auto{ height: 30px;padding: 10px 10px 0 0;margin: 0;color: #000;display: block;float: left;font-weight: 400;width: 100%; }
.box-1 .input-100 { padding: 10px 10px!important;margin: 0 0 0 0;height: 30px!important;border: 1px solid #ddd!important;width: 100%;display: inline-block;color: #222;float: left;}
.box-1 .input-100px{ padding: 2px 5px!important;margin: 0 5px 0 0!important;height: 27px!important;border: 1px solid #ddd!important;width: 90px;display: inline-block;color: #222;float: left;}
.block-span{ display: inline-block;float: left;padding: 3px 0px 0 0px; }
.box-1 .w-30p{ width: 25px;text-align: left;}
.underline{text-decoration: underline;}
.text-capital{ text-transform: capitalize!important; }
.block-span > sup {font-size:60%;}
.border-1{ border: 1px solid #ddd;padding: 10px 10px 10px 10px;float: left;text-align: left; }
.border-1 > p{ padding: 5px;margin: 0;font-size: 14px;}
.border-right{ border-right: 2px dotted #ddd; }
.text-right{ text-align: right;display: inline-block;}
.h3-title.top-1 { margin-top: -40px!important;display: block;float: left;}
.pt-20{ padding: 20px 0 0 0!important; }
.m-20{ margin: 20px 0 0 0!important; }


/** End of geothermal HTML **/

/************************************************************/
/****************   furnace-inspection & ac  ********************/
/************************************************************/

.grid-box-1{ padding: 0;margin: 0;position: relative;}
.grid-box-1 .h-auto{ height: 100%!important; }
.grid-box-1 textarea{ resize: none; }
.grid-box-1 .textarea1 { height: 108px!important; }
.grid-box-1 .form-control{ margin-bottom:15px!important;}
.grid-box-1 p{ margin: 0;padding: 0; }

.table-01{ padding: 0;margin: 0; }
.table-01 .table tbody > tr > td{ padding: 0px!important;margin: 0;height: 45px;vertical-align: middle;font-size: 14px; }
.table-01 .table thead > tr > th{ padding: 12px!important;margin: 0;height: 45px;vertical-align: middle; }
.col-1{ width: 13.333%;font-weight: 700; }
.col-3{ width: 20%;}
.font-bold{ font-weight: 700; }
.w-50{ width: 50%;display: inline-block;text-align: left;}
.w-40{ width: 40%;display: inline-block;text-align: left;}
.w-33{ width: 33.3%;display: inline-block;text-align: left;}
.w-30{ width: 30%;display: inline-block;text-align: left;}
.f-400{ font-weight: 400;padding: 0 5px; }
.space-line{ padding: 0 15px; }
.grid-box-1 .form-control.input-box-1{ margin: 0!important;padding: 10px!important;height: 100%;margin-bottom: 0px;height: 46px!important;border: none!important; }
.grid-box-1 .form-control.input-box-2{ margin: 0!important;padding: 10px!important;height: 100%;margin-bottom: 0px;height: 46px!important;border: none!important;width: 50%;float: left;border-right: 1px solid #ddd!important; }

.table-01 .table tbody > tr > td.p-20{ padding: 10px!important; }
.table-01 .table tbody > tr > td.p-12{ padding: 12px!important; }
.bt-0{ border-top: none!important; }
.grid-box-1 .form-control.textarea-1 {color: #222;margin-bottom: 0px!important;height: 120px!important;}

.p-20px{ padding: 20px; }




/*.box-1 .input-100 { padding: 10px 10px!important;margin: 0 0 0 0;height: 30px!important;border: 1px solid #ddd!important;width: 100%;display: inline-block;color: #222;float: left;}
.box-1 .input-100px{ padding: 2px 5px!important;margin: 0 5px 0 0!important;height: 27px!important;border: 1px solid #ddd!important;width: 90px;display: inline-block;color: #222;}*/


/************************************************************/
/**************** End of furnace-inspection   ***************/
/************************************************************/

/* MJM New Homes Final Checklist */

.h-50{ height: 40px;}
.h-150{ height: 100px; }
.w-20per{ width: 150px; }
.form-control.input-20 { margin-left: 10px!important;display: inline-block;margin-bottom: 0!important;margin-top: -5px!important;height: 30px!important;}
.span-right{ padding-left: 10px; }
.mt-20{margin-top: 20px; }
.block-div { display: block;width: 100%;height: 70px;float: left;padding: 20px 0!important;}
.block-label{ display: block!important; }
.box-HVAC-checklist{ padding: 10px 0 20px 0; }
.box-HVAC-checklist .checkbox-inline p{ display: inline-block;float: left;}
.heigth-50{ height: 50px!important;margin-top: 10px!important; }

/* End of MJM New Homes Final Checklist */

.club-div{ padding: 0;margin:0;}
.img-responsive.w-300{ width: 300px;float: left; }
.img-responsive.w-200{ width: 200px;float: right; }

.img-center { height: 200px;margin-top: 20px;justify-content: center;align-items: center;display: flex;}
.h2-center{ margin-bottom: 20px;color: #222;font-weight: 600;font-size: 18px;}
.ul-custom { padding: 0 0 0 20px; }
.ul-custom li{ padding: 5px 10px; }
.ul-custom li ul{ padding: 10px 10px 5px 20px; }
.p-custom-001{ padding: 20px!important;line-height: 24px;}
.box-border-1{ padding: 20px 10px 10px 10px;border: 1px solid #ddd;margin: 0 15px; }
.p15{ padding: 15px!important; }
.box-border-1 p > a{ color: #0000ff; }

/* carrier-repair-vs-replace  */

.img-logo-div {
    padding: 0;
    margin: 0;
    background-color: #fff;
    float: right;
    width: 75%;
    text-align: right;
}
.img-logo-div .img-logo {
    margin: -50px 0 0 0;
    width: 300px;
    background: #fff;
    padding: 25px;
    box-shadow: 0 0 10px 0 rgba(102, 102, 102, 0.5);
    float: right;
    border: 1px solid #ddd;
}
.carrier-root{ padding: 0;margin: 0; }
.decesion-root{ padding: 0;margin: -100px 0 0 0; }
.decesion-box-1{ padding: 0;margin: 0; }
.decesion-box-1 h4{ padding: 5px 0;margin: 0;font-weight: 600;    font-size: 18px; }
.decesion-box-1 p{ padding: 5px 0;margin: 0; }

.table-custom-responsive{ padding: 0;margin: 0;  }
.table-custom-responsive .table tbody > tr > td{ padding: 0!important;margin: 0; }
.table-custom-responsive .table tbody > tr > td.p-5{ padding: 5px!important;margin: 0; }

.table-custom-responsive .table thead > tr > th{ padding: 0!important;margin: 0; }
.table-custom-responsive .table thead > tr > th.padd-15{ padding: 10px!important;font-size: 12px; }
.table-custom-responsive .table thead > tr > th > p { padding: 0!important;margin: 0;width: 100px;transform: rotate(270deg);height: 100px;overflow: visible;padding: 10px!important;font-size: 12px;}
textarea.textarea-01 { padding: 0!important;margin: 0!important;min-height: 100%!important;width: 100%!important;border: none!important;}
.textarea-01.mh-135{ min-height: 135px!important; }
.textarea-01.mh-60{ min-height: 60px!important; }
.h3-title-category{ font-weight: 600;padding: 10px 0;margin: 0;font-size: 16px;}

.redflag-root{ padding: 0;margin: -100px 0 0 0; }
.redflag-1{ width: 50%;float: left; }
.redflag-table{ padding: 25px 0 0 0;margin: 0; }
.font-600{ font-weight: 600!important;}
.table-01 .table tbody > tr > td.valign-top{ vertical-align: middle!important;padding: 0px!important; } 

.h5-heading{ font-size: 14px;font-weight: 600;padding: 15px 10px 10px 10px;margin: 0; }
.ul_custom-001{ padding: 0px 30px 10px 30px; }

.form-radio{-webkit-appearance: none;-moz-appearance: none;appearance: none; position: relative;background-color: #fff;color: #666;top: 0px;height: 30px;width: 30px;border: 1px solid #ddd;cursor: pointer; margin-right: 7px;outline: none!important;vertical-align: middle;}
.form-radio:checked::before{position: absolute;left: 11px;top: 4px;content: '\02143';transform: rotate(40deg);}
.form-radio:hover{background-color: #fff;}
.form-radio:checked{background-color: #fff;}

.disabled{ background-color: #eee!important;cursor: not-allowed; }

.h4-title-note{ padding: 10px;margin: 0; }
.ol-list{ padding: 10px 0 10px 25px; }
.ol-list > li{ padding: 0 5px;}

.p-5-0{ padding: 5px 0; }
.small-p{ font-size: 12px;font-weight:600;padding: 5px 0 0 0!important;}
.grid-box-1 .form-control.form-input-1{ padding: 0;margin: 0!important;margin-bottom: 0px!important;background-color: #fff!important; }

/* end of carrier-repair-vs-replace  */

@media only screen and (max-width: 991px) {
	.chat form button.btn.btn-success {
		margin: 10px 0px !important;
	}
	.ticket-select-process.pull-right {
		float: left !important;
	}
	a#open_model {
		margin-top: -120px !important;
	}
}
@media only screen and (max-width: 797px) {
	.ticket-select-process {
		width: auto !important;
	}
	.cash_available_div {
		display: inherit;
		margin-top: 10px;
		margin-bottom: 15px;
    }
    
}

@media only screen and (max-width: 767px) {
	.search-wrapper input {
		border: none !important;
	}
	.search-wrapper button.btn.icon-search {
		padding: 5px !important;
	}
    .scheduler-view-day-content .yui3-widget-hd { padding:0 0px 0 0!Important; margin:0!Important;border-bottom: 0!Important;}
    
    /* HTML */
    .box-1 .h3-title {    font-size: 14px;}
    .box-1 p.height-auto {   height: 100%!important;font-size: 12px;}
    .box-1 .input-100px {width: 50px;}
    .border-1 {   margin-top: 20px;}
    .h3-title.top-1 {   margin-top: 0!important;display: block;float: left;padding: 30px 0 0 0;text-align: left;}
    .border-1 > p {   font-size: 12px;}
    .span-right {
        padding-left: 0px;
        display: block;
        padding: 5px 0;
    }
    .form-control.input-20 {
        margin-left: 0px!important;
        display: inline-block;
        margin-bottom: 5px!important;
        margin-top: 5px!important;
        height: 30px!important;
        width: 100%;
    }
    .block-div {width: 100%;height: 100%;}
    .box-HVAC-checklist .h-50 {
        height: 100%;
        margin-bottom: 20px;
        margin-top: 10px;
    }

    .img-logo-div {    width: 100%;margin: 30px 0 20px 0;}
    .img-logo-div .img-logo {    margin: 0px 0 0 0;width: 100%; }
    .decesion-root {   margin: 20px 0 0 0; }

    .table-custom-responsive .table thead > tr > th > p {  width: 100%;transform: rotate(360deg);height: 100%; }
    .redflag-root { margin: 20px 0 0 0; }
    .redflag-1 {    width: 100%;float: left;}
    

}
@media only screen and (max-width: 549px) {
	body.login .middle-container {
		width: 95% !important;
	}
	.table-responsive.tbl_ticket_id {
		width: auto;
	}
}
@media only screen and (max-width: 435px) {
	.dataTables_wrapper .dataTables_paginate a.paginate_button {
		font-size: 10px;
	}
	a.box-collapse_custome {
		font-size: 14px;
	}
}
@media only screen and (max-width: 364px) {
	.btn-group.open .btn.dropdown-toggle, .btn {
		font-size: 10px !important;
	}
	li.dropdown.medium.only-icon.widget.open {
		padding: 0 10px;
	}
	li.dropdown.medium.only-icon.widget {
		padding: 0 10px;
	}
	a#open_model {
		margin-top: 0px !important;
	}
	ul.nav.nav-tabs li a {
		padding: 5px 10px !important;
	}
}
@media only screen and (max-width: 334px) {
	.panel-body {
		padding: 15px 15px;
	}
	button.btn.btn-default.no-radious {
		padding: 9px 15px !important;
	}
	ul.nav.nav-tabs li a {
		padding: 5px 5px !important;
	}
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
    /* HTML */
    .box-1 p.height-auto { height: 100%!important;}
    .box-1 .input-100px {width: 50px;}
    .border-1 {   margin-top: 20px;}
    .h3-title.top-1 {   margin-top: 0!important;display: block;float: left;padding: 30px 0 0 0;text-align: left;}
    .form-control.input-20 {   width: 70px;}

}



.box .box-header .title { color:#222!important; border-bottom:1px solid #ddd;display: block; width: 100%;padding: 0 0 5px 0;}
.page-header { border:0!important;}
.contrast-blue header .navbar > .nav > li.dark > a { background:transparent!important;}

.filter-select { font-size:13px; font-weight:300;display:inline-block; width:75%;}
.filter-btn{padding: 5px 20px !important;border: none !important; background-color: #0c5c46 !important; line-height: 25px !important; margin:0; display:inline-block; color:#fff;}
.filter-btn:hover { background:#202b46;}

.scheduler-base .btn , .cust-calendar .btn{height: 35px !important; font-size: 12px !important;font-weight: 300 !important;margin: 0 5px !important;padding: 0 10px !important;display:inline-block;}
.scheduler-base-controls .scheduler-base-nav-date { margin:10px 0!important;}
.scheduler-view-day-header-day a {font-size: 13px!Important;font-weight: 300!Important; padding:10px!Important; }
.scheduler-view-day-content .yui3-widget-hd { padding:0!Important; margin:0!Important;border-bottom: 0!Important;}

.scheduler-view-day-table-time { font-size:12px!Important;}

.cust-calendar .scheduler-event {background-color: #137c65!Important; border:0!Important; font-size:12px!Important;color: #fff!Important; height:auto!Important;}
.scheduler-view-week .scheduler-event-title, .scheduler-view-week .scheduler-event-content { font-size:12px!Important;font-weight: 300 !important;}

/* change css */

#main-nav .navigation > .nav > li .nav.in , #main-nav .navigation > .nav > li .nav{ border: none;background: #fff !important;}
#main-nav ul.nav.nav-stacked > li .in.nav > li{color:#202b46 !important;}
#main-nav ul.nav.nav-stacked > li .in.nav > li > a{color:#202b46 !important;}
#main-nav ul.nav.nav-stacked > li .in.nav > li > a span{color:#202b46 !important;}
#main-nav ul.nav.nav-stacked > li .in.nav > li.active > a span{color:#202b46 !important;}
#main-nav ul.nav.nav-stacked > li .in.nav > li.active > a i:before{color:#202b46 !important;}
#main-nav .navigation > .nav > li.active > a{color:#202b46 !important;}
#main-nav ul.nav.nav-stacked > li .in.nav > li > a i:before { color:#202b46 !important;}
#main-nav ul.nav.nav-stacked > li .in.nav > li > a{color:#b5141d !important;}


#main-nav ul.nav.nav-stacked > li .in.nav > li{color:#202b46 !important;}
#main-nav ul.nav.nav-stacked > li .in.nav > li:hover,li:focus{color:#202b46 !important;}
#main-nav ul.nav.nav-stacked > li .in.nav > li > a:hover,a:focus{color:#202b46 !important;}
#main-nav ul.nav.nav-stacked > li .in.nav > li > a span:hover,span:focus{color:#202b46 !important;}
#main-nav ul.nav.nav-stacked > li .in.nav > li.active > a span:hover,span:focus{color:#202b46 !important;}

#main-nav ul.nav.nav-stacked > li .in.nav > li:hover > a span , #main-nav ul.nav.nav-stacked > li .in.nav > li:hover > a i:before{	color:#202b46 !important; }
ul.nav.nav-tabs { background: #202b46 !important;}
ul.nav.nav-tabs li.active a { border: 1px solid #202b46 !important;
    color: #202b46 !important;
	border-bottom:none !important;
}
ul.nav.nav-tabs li a:hover {
	border-radius: 6px 6px 0 0 !important;
    color: #202b46 !important;
    background: #fff;
}
.btn-group.open .btn.dropdown-toggle,.btn{
    border: 0px solid #202b46 !important;
}
.btn-group.open .btn.dropdown-toggle:hover, .btn:hover {
    border: 0px solid #202b46 !important;
	
}
.btn-group.open .btn-warning.dropdown-toggle, .btn.btn-warning{
	margin: 5px 0px;
    padding: 8px;
}
.ui-widget.ui-widget-content{z-index: 2625;}
.scheduler-view-day-content .yui3-widget-hd { padding:0 20px 0 0!Important; margin:0!Important;border-bottom: 0!Important;}


/*.ui-widget.ui-widget-content{position: absolute;height: auto;width: 700px;top: 150px;left: 650px;display: block;background-color:#fff;border:0px;}
.ui-dialog.ui-dialog-content{ width: auto;min-height: 0px;max-height: none;height: 500px;position: relative;border: 0;padding: .5em 1em;background: none;overflow: auto;}*/

/****************************************************************/

/* Vehicle Safety Checklist */

.colbox-v001{ padding: 20px 0 0 0;margin: 5px 0 0 0;  }
.colbox-v002{ padding: 20px 0 0 0;margin: 0;  }
.colbox-v003{ padding: 20px 0 0 0;margin: 0;  }

.colbox-v003 h3{ padding: 20px 0;margin: 0 0 10px 0; text-align: center;font-weight: 500; }
.gridbox-v6{ padding: 0;margin: 0 0 30px 0; }
.gridbox-v6 h4{ font-weight: 500;margin: 0 0 20px 0;}
.box-vs1{ padding: 0;margin: 0; }
.box-vs1 .input-24 { width: 24%;margin-right: 1%!important;float: left; }

.gridbox-v6.gridbox-v6-1{ margin: 0 0 10px 0 !important; }
.gridbox-v6.gridbox-v6-4{ margin: 0 0 10px 0 !important; }
.gridbox-v6.gridbox-v6-5{ margin: 0 0 10px 0 !important; }
.gridbox-v6.gridbox-v6-6{ margin: 0 0 10px 0 !important; }

.gridbox-v6 .mt-20 { margin-top: 10px; }
.gridbox-v6.gridbox-v6-5 h4 { margin: 0 0 10px 0; }
.gridbox-v6.gridbox-v6-6 h4 { margin: 0 0 10px 0; }

.gridbox-v6.gridbox-v6-6 .form-control.textarea-1 { height: 100%!important; }

.gridbox-v6 .col-md-7.text-center{ padding: 0 10px!important; }


/* End of Vehicle Safety Checklist */

/* Invoiced */

.colbox-in01 .form-control.input-box-1 { height: 36px!important; }

.colbox-in01{ padding: 10px 0;  }
.colbox-in01 img.img-responsive.carrier-logo01 { width: 220px;padding: 10px;text-align: center;margin: 0 auto; }
.colbox-in01 .box-in01 { padding: 0; margin: -15px 0 0 0; }
.colbox-in01 .box-in01 h3 { font-size: 24px; font-weight: 700; color: #1c3f95; }
.colbox-in01 .box-in01 span.span-block { display: block; line-height: 30px; font-size: 18px; font-weight: 500; color: #1c3f95; }

.invoice-box1{ padding: 0;margin: 25px 0 0 0; }
.invoice-box1 p.height-auto{ text-transform: uppercase; }

.invoice-div .table thead > tr > th{ padding: 12px 10px 10px 10px!important; }
.invoice-div .table tbody > tr > td{ padding: 0!important; }

.invoice-div .pl-10{ padding-left:10px;  }
.invoice-div .mt-m10{ margin-top: -10px;  }
.invoice-div .mt-5{  margin-top: 5px;  }
.invoice-div .mt-10{  margin-top: 10px;  }

.invoice-box8{ border: 2px solid #4f4b8f;padding: 0 0 15px 0; }
.invoice-div .blueh51{ background-color: #4f4b8f;padding: 10px;color: #fff;text-align: center;font-weight: 500;letter-spacing: 0.2px;margin: 0; }
.invoice-box8 p.pblue{padding: 20px;line-height: 24px;letter-spacing: 0.2px;color: #4f4b8f;font-weight: 500; }    
.invoice-box8 .mb-5{ margin-bottom:5px!important;  }

.vertical-align-center .table tbody > tr > td{ vertical-align: middle; }
.vertical-align-center .table tbody > tr > td.color-td1{ background-color: #cbd2ff;font-weight: 600;line-height: 24px; }
.vertical-align-center .table tbody > tr > td.color-td2{ background-color: #4f4b8f;font-weight: 600;line-height: 20px;color: #fff;text-align: center;padding: 5px 0!important; }
.vertical-align-center .table tbody > tr > td .span-block{ display: block;line-height: 20px; }
.p-15{ padding: 15px 15px 0 15px!important; }
.grid-box-1 .form-control.mt-024{ margin-top: 24px!important; }

.table tbody > tr > td .span-block{ display: block; }
.table tbody > tr > td.text-uppecase { text-transform: uppercase!important;width: 20px;vertical-align: middle; }
.table tbody > tr > td.color-b01{ background-color: #4f4b8f;font-weight: 600;color: #fff;text-align: center;padding: 5px 0!important; }
.table tbody > tr > td.color-b01 .span-block { display: block;line-height: 16px; }

.vertical-align-center2 .table tbody > tr > td { vertical-align: middle;position: relative; }
.vertical-align-center2 .table tbody > tr > td .span-left1 { position: absolute; left: 0; padding: 10px;height: 46px; vertical-align: bottom; }
.vertical-align-center2 .table tbody > tr > td .span-p10 { padding: 0px 10px; }
.vertical-align-center2 .table tbody > tr > td .form-control.auto-input1 { border: 1px solid #ddd;height: 34px;margin: 15px 0 5px 0!important;width: 120px;display: inline-block; }
.vertical-align-center2 .table tbody > tr > td.td-nospace{ padding: 0;margin: 0;text-align:left; }    
.vertical-align-center2 .table tbody > tr > td .display-inline {     display: inline-block; position: relative; width: 33%; float: left; vertical-align: middle; }
.vertical-align-center2 .table tbody > tr > td .abs-top5{ position: absolute;top: 1px;font-size: 11px;font-weight: 400; }
.vertical-align-center2 .table tbody > tr > td .span-p10.middle50{ height: 50px; display: block; vertical-align: middle !important; padding-top: 10px; }

.vertical-align-center3 .table tbody > tr > td .display-inline { width: 50%; }
.vertical-align-center3 .table tbody > tr > td.f10{ font-size: 10px;padding: 4px 0 2px 0!important; }
.vertical-align-center3 .table tbody > tr > td.f10 .span-block{ line-height: 13px; }

.colbox-in02 { padding: 0;margin: 0; }
.box-checklist1 { padding: 0;margin: 0;border: 1px solid #ddd; }
.box-checklist1 h3.h3-title1 { padding: 10px; margin: 0; background: #dbd6f8; text-align: center; font-size: 20px; font-weight: 700; color: #4f4b8f; line-height: 24px; letter-spacing: 0.5px; }
.box-checklist1 .rowbox1{ padding: 7px 10px 0px 10px;margin: 0;border-bottom: 1px solid #ddd; }
.f-600{ font-weight: 600; }

.colbox-in02 input[type="checkbox"] { margin: 0px 0 0; }
.colbox-in02 .checklist01{ margin: 0 0 10px 0; }
.colbox-in02 .checklist02{ margin: 0 0 3px 0; }
.colbox-in02 .checklist02:last-child{ margin: 0 0 7px 0; }

.colbox-in02 input.form-control.input-100px {  width: 140px;float: left;  margin: 0 !important;  padding: 0 !important;  border: none !important;  border-bottom: 1px solid #ddd !important;  height: 26px !important;  margin-right: 10px !important; }
.colbox-in02 .checklist02 input[type="checkbox"]{ float: left; }
.colbox-in02 p,.colbox-in02 .f500{ font-weight: 500; }

.colbox-in02 p.fleft-01 { display: inline-block;float: left;padding:0 10px;margin: 0;line-height: 20px; }
.colbox-in02 p.fleft-02 { display: inline-block;float: left;padding:0 10px;margin: 0; line-height: 20px; }

.colbox-in02 hr { margin-top: 15px; margin-bottom: 0px; margin-left: -10px; margin-right: -10px; border-top: 1px solid #ddd; }
.colbox-in02 input.form-control.input-70px {  width: 70px!important; }
.colbox-in02 .invoice-box4 input.form-control.input-box-1 { margin: 0 !important;border: none!important; }

.invoice-box-r2 .table thead > tr > th{ background-color: #4f4b8f;color: #fff;font-weight: 500; }
.invoice-box-r2 .table thead > tr > th.color-b02{ background-color: #dbd6f8;color: #4f4b8f;font-weight: 600; }

.colbox-in02 .form-radio { height: 20px; width: 20px; }
.colbox-in02 .form-radio:checked::before { left: 5px; top: 0px; font-size: 12px; }

.colbox-in02 .table tbody > tr > td.text-rightside { text-align: right;vertical-align: middle;padding: 10px 10px 0 10px !important; }

.invoice-box-r3 .box-content-1{ padding: 15px 15px;margin: 0;border: 1px solid #ddd; background-color: #eee; }
.invoice-box-r3 .box-content-1 h3{ padding: 10px 0px 0 0; margin: 0 0 10px 0; font-size: 16px; font-weight: 600; letter-spacing: 0.2px; }
.invoice-box-r3 .box-content-1 p{ padding: 0 0px;margin: 0 0 10px 0;}
.colbox-in02 p.p015{ padding: 10px 0!important;margin: 0; }
.colbox-in02 .invoice-box-r3 input.form-control.input-box-1 { margin: 0 !important;border: none!important; }
.colbox-in02 p.p015.blue-bg1{ background: #dbd6f8; text-align: center; color: #4f4b8f; line-height: 24px; }

.invoice-box-r3 .table thead > tr > th.th-title{ background: #eee;padding: 20px 0px 15px 0 !important;font-size: 16px;letter-spacing: 0.2px; }

.box-inputlist2{ margin-top: 0px;border: 1px solid #ddd; }
.box-inputlist2 .h4-title1{ padding: 10px 0;margin: 0;background-color: #dbd6f8;color: #4f4b8f;font-weight: 600;text-align: center; }
.boxa-input01{ padding: 0px 10px 10px 10px;margin: 0; }
.boxa-input01 p{ padding: 12px 0 0 0;margin: 0; }

.colbox-in02 .checklist02-50 { width: 50%;float: left;margin: 0 0 10px 0; }
p.display-inline50 {  width: 48%;  float: left;  margin-right: 1%; }
p.display-inline501{  width: auto;  float: left;  margin-right: 0%;margin-right: 1%;padding: 0; }
p.display-inline502{  width: auto;  float: left;  margin-right: 0%;margin-left: 1%;padding: 0; }
p.display-inline502 span.span-p10 { float: left;padding: 10px 5px; }
p.display-inline502 input.form-control.auto-input1, p.display-inline501 input.form-control.auto-input1{  float: left;width: 140px; }


.invoice-box-r4 h4.h4-title2{ padding: 10px 0;margin: 0;background-color: #dbd6f8;color: #4f4b8f;font-weight: 600;text-align: center; }
.table tbody > tr > td.color-b03{     background-color: #4f4b8f; font-weight: 600; color: #fff; text-align: center; padding: 20px 0!important;width: 30px; }
.table tbody > tr > td.color-b03 .span-block { line-height: 24px; }
.invoice-box-r4 .table tbody > tr > td.vertical-align-top{ vertical-align: top!important;padding: 10px 0 0 0!important; background-color: #eee; }

.invoice-box-r4 .display-70 { width: 70%; display: inline-block; float: left; padding: 0 5px;font-size: 13px; }
.invoice-box-r4 .display-60 { width: 58%; display: inline-block; float: left; padding: 0 5px;font-size: 13px; }
.invoice-box-r4 .display-30 { width: 30%; display: inline-block; float: left; padding: 0 5px;font-size: 13px; }
.invoice-box-r4 .display-10 { width: 12%; display: inline-block; float: left; padding: 0 5px;font-size: 13px;color: #aa8561;  }
.invoice-box-r4 .display-90 { width: 88%; display: inline-block; float: left; padding: 0 5px;font-size: 13px; }
.invoice-box-r4 .display-100 { width: 100%; display: block; float: left; padding: 0 5px;font-size: 13px; }

.invoice-box-r4 .table tbody > tr > td {  vertical-align: top!important;padding-top: 10px!important;padding-bottom: 5px !important; }
.invoice-box-r4 .table tbody > tr > td .form-control.auto-input1.w-70px { width: 70px;margin: 0 0 5px 0 !important; }
.invoice-box-r4 .table tbody > tr > td .form-control.auto-input1.w-120px { width: 100px;margin: 0!important; }

.invoice-box-r4 .checklist01 { margin: 0 0px 10px 0px; display: inline-block;font-weight: 400!important;font-size: 12px;padding: 0 5px; }
.invoice-box-r4 .pl-10 { padding-left: 2px;padding-right: 5px;font-weight: 400!important; }
.invoice-box-r4 .table tbody > tr > td .span-p10 { padding: 0px 0px;font-weight: 400; }
.invoice-box-r4 .table tbody > tr > td.vm-center{ vertical-align: middle!important; }
.invoice-box-r4 .table tbody > tr > td.paddingb15{ padding-bottom:12px!important; }
.invoice-box-r4 span.roundnumber { padding: 0; border: 1px solid #aa8561; height: 25px; line-height: 23px; width: 25px; text-align: center; border-radius: 100%; display: inline-block; }

.owner-div1{ margin: 30px 0 0 0; }
.a-div1{ padding: 0px 0;margin: 0;border: 1px solid #ddd; }
.col-50per { width: 50%; float: left; padding: 10px; text-align: center; border: 1px solid #ddd; border-top: none; }

.line-box01 .height-auto { display: inline-block; float: left;width: 35%; }
.line-box01 input.form-control.input-100 {  display: inline-block;  float: left;  min-width: 135px;  width: 65%;  margin-bottom: 0px !important;  margin-left: 0px!important;  height: 30px !important; }

.colbox-in01 { text-transform: uppercase; }

.invoicebox-top1{ padding: 25px 0;margin: 30px 0 30px 0;vertical-align: bottom; }
.invoicebox-top1 h1 { padding: 0; margin: 0px 0 0 0; color: #1c3f95; font-size: 24px; line-height: 30px; font-weight: 600; text-align: center; }
h1.small-h1 { font-size: 18px;margin: 5px 0 0 0; }
.invoicebox-top1 p { padding: 0; margin: 0px 0 0 0; color: #1c3f95; font-size: 14px; line-height: 24px; font-weight: 600; text-align: center; }
p.bigtxt-1 {  font-size: 18px;  margin: 0 0 5px 0;font-weight: 700!important; }
.invoicebox-top1 h4 { padding: 0; margin: 0px 0 0 0; color: #1c3f95; font-size: 20px; line-height: 30px; font-weight: 600; text-align: center; }
.checklist01{ margin: 0 0 5px 0; }



/* End of Invoiced */

/** Project Worksheet **/

.worksheet-box1{ padding: 20px 0;margin: 10px 0 0 0;  }

.form-row01{ padding:0;margin: 0; }
.form-rowpw01 textarea{ height: 100%!important;width: 100%; }

.leftrowws1{ padding:0;margin: 0; }



.leftrowws2{ padding:0;margin: 0; }
.leftrowws2 .thumb-ws01{ margin: 0 auto;text-align:center; }
.leftrowws2 .thumb-ws01 .img-ws-1{ margin: 0 auto;text-align:center;width: 400px;padding: 10px; }

.leftrowws3{ padding:0px 0;margin: 30px 0 0 0;position: relative; border: 1px solid #ddd; }
/*.leftrowws3 h3 { padding: 10px 10px; margin: 0px 0 0px 0; background: #eee; border-bottom: 1px solid #ddd; }*/
.leftrowws3 h3{  padding: 10px;margin: 0;background: #dbd6f8;text-align: left;font-size: 18px;font-weight: 500;color: #4f4b8f;line-height: 24px;letter-spacing: 0.2px;  }

.main-box-check{ padding: 10px 0;margin: 0; }
.p-blk1{ float: left;display: inline-block;padding: 0 10px; }

.row-h1{ padding: 5px 10px 0 10px; }
.row-h1 .ws-width60, .row-h2 .ws-width60{ display: inline-block; float: left;width: 60%; }
.row-h1 .ws-width60 p, .row-h2 .ws-width60 p { padding: 3px 0 2px 0; }
.row-h1 .ws-width40, .row-h2 .ws-width40 { display: inline-block; float: left;width: 40%; }
.row-h1 p.ws-fleft-01 { float: left;display: inline-block;padding: 0px 5px;line-height: 24px; }
.row-h1 .form-radio.radio-ws1, .row-h2 .form-radio.radio-ws1 { height: 24px;width: 24px;margin: 0; }
.row-h1 .fc-custom01{ width: 100px;margin: 0 10px!important;height: 26px!important; }
.row-h1 .form-radio:checked::before, .row-h2 .form-radio:checked::before  { left: 7px; top: 2px; }

.leftrowws4{ padding:0;margin: 0; }
.leftrowws4 .thumb-ws01{ margin: 0 auto;text-align:center;padding: 30px 0; }
.leftrowws4 .thumb-ws01 .img-ws-1{ margin: 0 auto;text-align:center;width: 400px;padding: 10px; }

.leftrowws5{ padding:0px 0;margin: 5px 0 0 0;position: relative; border: 1px solid #ddd; }
/*.leftrowws5 h3 { padding: 10px 10px; margin: 0px 0 0px 0; background: #eee; border-bottom: 1px solid #ddd; }*/
.leftrowws5 h3 { padding: 10px;margin: 0;background: #dbd6f8;text-align: left;font-size: 18px;font-weight: 500;color: #4f4b8f;line-height: 24px;letter-spacing: 0.2px; }

.row-h2{ padding: 5px 10px 10px 10px; }
.row-h2 .ws-width50 { display: inline-block; float: left;width: 50%; }
.row-h2 .ws-width30 { display: inline-block; float: left;width: 30%; }
.row-h2 .ws-width70 { display: inline-block; float: left;width: 70%; }
.row-h2 .fc-100{ width: 100%;margin: 0 0px!important;height: 26px!important; }
.row-h2 .padding-p1{ padding: 3px 0 2px 0;font-weight: 500; }
.row-h1 .padding-p1{ padding: 3px 0 2px 0;font-weight: 500; }
.fw-400{ font-weight: 400!important; }
.row-h2 .mt-10{ margin-top: 10px!important; }
.row-h2 .mt-5{ margin-top: 5px!important; }

.row-h2 .ws-width100 { display: inline-block; float: left;width: 100%; }
.row-h2 .ws-width15 { display: inline-block; float: left;width: 15%; }
.row-h2 .ws-width85 { display: inline-block; float: left;width: 85%; }
.row-h2 .ws-width35 { display: inline-block; float: left;width: 35%; }
.row-h2 .ws-width65 { display: inline-block; float: left;width: 65%; }
.row-h2 .ws-full { display: block; float: left;width: 100%; }

.list-0001{ padding: 0 20px 0 0;margin: 0;float: left; }
.list-0001 .form-radio.radio-ws1{ float: left; }
.list-0001 p.f0left-01 { float: left;padding: 3px; }
.pl-50{ padding-left: 20px!important; }

.second-half .padding-p1{ padding-left: 10px; }

.leftrowws6{ padding:0;margin: 0; }
.leftrowws6 .thumb-ws01{ margin: 0 auto;text-align:center;padding: 30px 0; }
.leftrowws6 .thumb-ws01 img.img-responsive.img-ws-3{ margin: 0 auto;text-align:center;width: 300px;padding: 10px; }

.worksheet-box2{ padding: 0;margin: 0;position: relative; }

.fullboxright1 { padding: 0 0 25px 0;margin: 0;border-bottom: 1px solid #ddd; }
.fullboxright1 .img-thumb1{ padding: 0 10px;margin: 0; }
.fullboxright1 .img-thumb1 .mjm-logo01{ padding: 0;margin: 0 auto;width: 200px; }

.wssecond-02{ padding: 10px 0;margin: 20px 0 0 0; }

.boxrow-ws01{ padding: 0;margin: 0; }
.boxrow-ws01 p.height-auto { float: left;width: 20%;line-height: 26px;font-size: 13px;font-weight: 500; }
.boxrow-ws01 .form-control { margin: 0px!important;width: 80%;float: left;height: 26px!important; }
.boxrow-ws01 .form-group { margin: 0px 0 5px 0!important; }

.boxrow-ws02{ padding: 0;margin: 10px 0 0 0;border: 1px solid #ddd; }
.boxrow-ws02 h3.h3-title1 { padding: 10px; margin: 0; background: #dbd6f8; text-align: left; font-size: 18px; font-weight: 500; color: #4f4b8f; line-height: 24px; letter-spacing: 0.2px; }

.rowblock01{ padding: 10px 10px 0px 10px;margin: 0;border-bottom: 1px solid #ddd; }
.rowblock01 .width50{  width: 50%;  float: left;  margin: 0 0 10px 0; }
.rowblock01 .width100{  width: 100%;  float: left;  margin: 0 0 10px 0; }
.rowblock01 input[type="checkbox"] { float: left; }
.rowblock01 .f01left-01 { display: inline-block; float: left; padding: 0 5px; margin: 0; line-height: 20px; font-size: 13px;font-weight: 500; }
.rowblock01 input[type="radio"], input[type="checkbox"] { margin: 0px 0 0; }
.rowblock01 .form-radio { height: 21px; width: 21px; }
.rowblock01 .form-radio:checked::before{ left: 6px; top: 0px; }

.boxrow-ws02 .h2-title01 { padding: 0; margin: 0 0 10px 0; display: block; width: 100%; clear: both; font-style: italic; font-size: 14px; font-weight: 500; }
.boxrow-ws04-2 { padding: 10px 10px;margin: 0px 0px;clear: both; }
.boxrow-ws04-2 .rowblock01 { padding: 10px 0px 10px 0px; margin: 0;border: none; }
.boxrow-ws04-2 .h2-title01 { margin: 0 0 5px 0; }
.boxrow-ws04-2 .boxrow-ws01-2 p.height-auto {  float: left;  width: 40%;  line-height: 26px;font-weight: 500; }
.boxrow-ws04-2 .boxrow-ws01-2 .form-control { margin: 0px!important; width: 60%; float: left;height: 26px!important; }
.style-i{ font-style: italic; }

.table-lt .table thead > tr > th{ padding: 5px 10px!important;text-align: left;font-style: italic;font-weight: 500; }
.table-lt .table tbody > tr > td{ padding: 0px 0px!important;text-align: left;font-weight: 500; }
.table-lt .table tbody > tr > td .input-box-1{ padding: 0 5px!important;height: 31px!important; }
.table-lt .table tbody > tr > td p{ padding: 0 5px!important;line-height: 31px; }

.boxrow-ws05-1 .form-group{ margin: 0; }
.rowblock501{ padding: 10px 0px 0px 0px!important; margin: 0;border: none; }

.main-box-check.main-box-check5-02{ padding: 0;margin: 00 0 10px 0; }
.main-box-check5-02 .row-h1 { padding: 5px 0px 0 0px;font-weight: 500;  }
.main-box-check5-02 .row-h1 .ws-width50 {  display: inline-block; float: left; width: 50%; }
.main-box-check5-02 .row-h1 .p-blk1 { float: left; display: inline-block; padding: 0 15px 0 0px;}
.main-box-check5-02 .row-h1 p.ws-fleft-01 { float: right; display: inline-block; padding: 0px 5px; line-height: 24px; }

.p-zero { padding: 0!important; }

.table-lt2 .table thead > tr > th{ padding: 5px 10px!important;text-align: left;font-weight: 600; }
.table-lt2 .table tbody > tr > td{ padding: 0px 0px!important;text-align: left;font-weight: 500; }
.table-lt2 .table tbody > tr > td .input-box-1{ padding: 0 10px!important;height: 31px!important; }
.table-lt2 .table tbody > tr > td p{ padding: 0 10px!important;line-height: 31px;font-weight: 600; }
.table-lt2 .table tbody > tr > td p.f-500{ font-weight: 500; }
.table-lt2 .table.table-responsive{ margin: 0 0 5px 0; }

.main-box-check.main-box-check6{ padding: 5px 10px;margin: 00 0 0px 0; }
.main-box-check6 .row-h1 { padding: 5px 0px 0 0px;font-weight: 500;  }
.main-box-check6 .row-h1 .ws-width50 {  display: inline-block; float: left; width: 50%; }
.main-box-check6 .row-h1 .p-blk1 { float: left; display: inline-block; padding: 0 15px 0 0px;}
.main-box-check6 .row-h1 p.ws-fleft-01 { float: right; display: inline-block; padding: 0px 5px; line-height: 24px; }

.boxrow-ws601{ margin: 10px 0 0 0; }
.boxrow-ws601 p.height-auto {  float: left;  width: 35%;  line-height: 26px;font-weight: 500;font-size: 13px; }
.boxrow-ws601 .form-control { margin: 0px!important; width: 65%; float: left;height: 26px!important; }

.boxrow-ws02.boxrow-ws08 { padding: 0; margin: 0px 0 0 0; border: 1px solid #ddd; }
.main-box-check.main-box-check8{ padding: 5px 10px;margin: 00 0 0px 0; }

.rowblock01.rowblock08 { padding: 5px 0;border: none; }
.rowblock08 .width33 { padding:00 30px 0 0px;float: left;min-width: 25%; }
.rowblock08 .f01left-01 { display: inline-block; float: left; padding: 0 5px 0 0; margin: 0; line-height: 20px; font-size: 13px; font-weight: 500; }

.rowblock01.rowblock08-2 { padding: 5px 0;border: none;margin: 0 0 5px 0; }

.form-group-input1 p.height-auto { float: left;width: 25%;line-height: 26px;font-weight: 500;font-size: 13px; }
.form-group-input1 .form-control { margin: 0px!important; width: 75%; float: left; height: 26px!important; }

.rowblock09 .f01left-01.pl-0{ padding-left: 0px!important; }
.rowblock09 .f01left-01{ display: inline-block; float: left; padding: 0 0px 0 5px; margin: 0; line-height: 20px; font-size: 13px; font-weight: 500; }
.rowblock09 .form-radio { float: left; }

.w-100c{ width: 100%;clear: both; }
.cboth{ clear: both!important; }
.boxrow-ws01 .form-group.mb0{ margin-bottom: 0px!important; }

.border-c01{ padding: 4px 10px 7px 10px;margin: 0px 0 5px 0;border: 1px solid #ddd; }
.border-c01 .width100 { width: 100%;float: left;margin: 0 0 2px 0; }

.form-group-input02{ padding: 5px 0 10px 0; }
.form-group-input02 p.height-auto { float: left;width:100%;line-height: 26px;font-weight: 500;font-size: 13px; }
.form-group-input02 .form-control { margin: 0px!important; width: 100%; float: left; height: 26px!important; }
.f400{ font-weight: 400!important; }
.pl-30{ padding-left: 30px; }
.wssecond-02 .mt-10{ margin-top: 10px; }

.main-box-checkw12{ padding: 0;margin: 0; }
.border-top1{ border-top: 1px solid #ddd;padding: 7px 0 0 0; }

.form-group-input75 { padding: 0;width: 75%;float: left; }
.form-group-input25 { padding: 0;width: 25%;float: left;}
.form-group-input25 p.height-auto { width: 100%;padding: 0px 10px; }

.rowblock013 .width33 {  padding: 00 0px 0 0px!important;  float: left;  width: 25%; }
.rowblock013 .form-control {  width: 100%!important; }
.rowblock01.rowblock08.rowblock013{ padding: 0 0 5px 0; border: none; }
.mb-15{ margin-bottom:15px; }

/**/

.center-align-content { height: 100%; display: flex; justify-content: center; align-items: center; min-height: 100px; }
.center-align-content h5 { font-size: 24px; font-weight: 400; }

.wssecond-03 { padding: 15px 0;margin: 0;position: relative; }
.wssecond-03 .box3-row1{ padding: 0;margin: 0; }


.table-full1 .table thead > tr > th{ padding: 5px 10px!important;text-align: left;font-weight: 600; }
.table-full1 .table tbody > tr > td{ padding: 0px 0px!important;text-align: left;font-weight: 500; }
.table-full1 .table tbody > tr > td .input-box-1{ padding: 0 10px!important;height: 31px!important; }
.table-full1 .table tbody > tr > td p{ padding: 0 10px!important;line-height: 31px;font-weight: 400;font-size: 13px; }
.table-full1 .table tbody > tr > td p.f-500{ font-weight: 500; }
.table-full1 .table.table-responsive{ margin: 0 0 5px 0; }

.table-full1 .table thead > tr > th.width-220{ width: 220px; }
.table-full1 .table thead > tr > th.width-120{ width: 120px; }
.table-full3 .table tbody > tr > td.text-center{ text-align: center; }

.teaxtarea001 { padding: 10px 0 0 0; }

.box31{ padding: 10px 0 20px 0;margin: 0; }
.box31 .form-group-input02 { padding: 5px 0 0px 0;margin: 0; }

.table-full50{ width: 50%;float: left;margin-bottom: 10px; }
.table-full4{ padding: 0;margin: 10px 0 0 0; }

/** End of Project Worksheet **/




@media (max-width: 768px){ 

    .vertical-align-center2 .table tbody > tr > td .display-inline { width: 100%; }
    .invoice-box8 p.pblue { padding: 10px; }
    .table-responsive.vertical-align-center { margin: 20px 0; }
    .vertical-align-center .table tbody > tr > td { padding:  0 5px!important; }
    .grid-box-1 .form-control.input-box-1 { margin: 0!important; padding: 0px 5px!important; }
    .colbox-in01 img.img-responsive.carrier-logo01 { width: 150px;margin: 20px auto; }
    .colbox-in01 .box-in01 h3 { font-size: 18px; }
    .colbox-in01 .box-in01 span.span-block{ font-size: 14px;line-height: 24px; }
    .colbox-in01 .box-in01 { margin: -15px 0 30px 0; }

    .mb-padding0{ padding: 0!important; }
    .colbox-in02 .checklist01 {  font-size: 12px; }
    .colbox-in02 .checklist02 {  font-size: 10px; }
    .colbox-in02 input.form-control.input-100px { width: 60px; height: 22px !important; margin-right: 10px !important; }
    .colbox-in02 .form-radio {  height: 15px;  width: 15px; }
    .blk-span{ display:block;width: 80%; }
    .colbox-in01 .height-auto{ font-size: 12px; }
    .invoice-div .table thead > tr > th { padding: 12px 10px 10px 10px!important;font-size: 12px; }
    .invoice-div .pl-10 {  font-size: 12px;  }
    .invoice-div .form-radio { height: 20px; width: 20px; }
    .vertical-align-center2{ font-size: 12px;margin: 0 0 10px 0; }
    .table-responsive.vertical-align-center  { margin: 5px 0 10px 0 ; }
    .vertical-align-center2 .table tbody > tr > td .form-control.auto-input1 {    height: 26px!important; }
    .vertical-align-center2 .table-responsive.vertical-align-center { margin: 00px 0 10px 0; }
    .invoice-box8 p.pblue {  font-size: 12px;line-height: 16px; }
    .vertical-align-center .table tbody > tr > td.color-td1 { font-size: 12px; }
    .table-responsive.vertical-align-center span{ font-size: 12px;line-height: 16px; }
    .vertical-align-center .table tbody > tr > td .span-block{ font-size: 12px;line-height: 16px; }

    .box-checklist1 h3.h3-title1 { padding: 5px; font-size: 16px; font-weight: 600; }
    .line-box01{ font-size: 12px; }
    .line-box01 .height-auto { display: block;width: 100%;font-size: 12px; }
    .line-box01 input.form-control.input-100 { width: 100%; }
    p.display-inline502 input.form-control.auto-input1, p.display-inline501 input.form-control.auto-input1 { float: left;width: 100%; }
    p.display-inline502 span.span-p10 {   padding: 0; }
    p.display-inline501,p.display-inline502 { margin:0;  width: 100%; }
    
    .invoice-box4.invoice-box-r2.clearfix { padding: 15px;font-size: 12px; }
    .invoice-box-r3 .box-content-1 { margin: 0px 0 10px 0; }

    .invoice-box-r4 .display-10 { width:20%;min-width: 50px;font-size: 12px; }
    .invoice-box-r4 .display-60 { width: 100%;padding: 10px 5px 0 5px; }
    .invoice-box-r4 span.roundnumber { height: 20px;line-height: 20px;width: 20px; margin-top: 10px;    }
    .height-auto{ font-size: 12px; }

    .invoicebox-top1 { padding: 0px 0; }
    .invoicebox-top1 h1 {   padding: 0;   margin: 0px 0 0 0;   font-size: 14px;   line-height: 20px; }
    .invoicebox-top1 p {   padding: 0;   margin: 0px 0 0 0;   font-size: 12px;   line-height: 20px; }
    p.bigtxt-1 { font-size: 14px;margin: 0; }
    .invoicebox-top1 h4 { font-size: 14px; line-height: 24px; }
    .boxvcolor01{ padding: 10px 0; }

    /**  worksheet-main  ***/

    .leftrowws1 .form-group { margin-bottom: 0px; }
    .worksheet-box1 { padding:  10px 0 20px 0;margin: 0px 0 0 0; }
    .leftrowws3 h3, .leftrowws5 h3, .boxrow-ws02 h3.h3-title1{ padding: 10px; font-size: 14px; line-height: 21px; }
    .leftrowws3 .form-control { margin-bottom: 10px!important; }
    .row-h1 { font-size: 12px; }
    .p-blk1 { padding: 0px 0px; }
    .row-h1 p.ws-fleft-01 { line-height: 16px; }
    .row-h1 .form-radio.radio-ws1, .row-h2 .form-radio.radio-ws1 , .rowblock01 .form-radio { height: 16px;width: 16px; }
    .row-h1 .fc-custom01 { width: 50px;margin: 0 2px!important; }

    .worksheet-box1 { font-size: 12px; }
    .row-h2 .ws-width50 { width: 100%;margin: 0 0 5px 0; }
    .row-h2 .ws-width30 { width: 100%; }
    .row-h2 .ws-width70 { width: 100%; }
    .second-half .padding-p1 { padding-left: 0; }
    .row-h2 .ws-width15 { width: 100%; }
    .row-h2 .ws-width85 { width: 100%; }
    
    .pl-50{ padding-left: 0!important;margin-top: 5px;clear: both; }
    .list-0001 p.f0left-01 { padding: 0px 3px; }
    .list-0001 { padding: 0 20px 5px 0; }

    .row-h2 .ws-width35 { width: 100%; }
    .row-h2 .ws-width65 { width: 100%; }

    .fullboxright1 .img-thumb1 { padding: 10px 0 30px 0; }
    .fullboxright1 .img-thumb1 .mjm-logo01 {  width: 150px; }
    
    .form-group { margin-bottom: 0px; }
    
    .boxrow-ws01 p.height-auto { width: 100%;font-size: 12px; }
    .boxrow-ws01 .form-control { width: 100%; }

    .rowblock01 .width50 { width: 100%; margin: 0 0 10px 0; }
    .boxrow-ws04-2 .col-md-8.col-sm-8.clearfix{ padding: 5px 0;font-size: 12px; }

    .table-lt2 .table thead > tr > th, .table-lt2 .table thead > tr > td , .table-lt2 .table tbody > tr > td p{ font-size: 12px; }

    .rowblock08 .width33 { padding: 00 0px 0 0px;min-width: 100%;width: 100%;margin: 0 0 5px 0; }
    .border-c01 { margin: 0px 0 10px 0; }    

    .rowblock09 .f01left-01 { font-size: 12px; }
    .rowblock01 .f01left-01 { line-height: 16px;font-size: 12px; }
    .main-box-check5-02 .row-h1 p.ws-fleft-01 , .main-box-check6 .row-h1 p.ws-fleft-01{ padding: 0px 5px;line-height: 16px; }

    span.f400.pl-30 { width: 100%; clear: both; display: block; padding-left: 0px; padding: 5px 0 0 0px; }

    .form-group-input25 { width: 100%; }
    .form-group-input75 { width: 100%; }
    .boxrow-ws01 p.height-auto {  padding: 0; }

    .table-full50 { width: 100%;float: left;margin-bottom: 10px; }
    .center-align-content { min-height: 100%; }
    .table-full1 .table-responsive > .table-bordered {   border: 1px solid #ddd;margin: 0; }
    .table-full1 .table tbody > tr > td .input-box-1 { padding: 0 10px!important; height: 31px!important; min-width: 95px; }
        

    /**  worksheet-main  ***/

}

@media only screen and (max-width: 1024px) and (min-width: 768px){
	.scheduler-view-day-content .yui3-widget-hd { padding:0 00px 0 0!Important; margin:0!Important;border-bottom: 0!Important;}
	.box-HVAC-checklist .h-50 {
        height: 100%;
        margin-bottom: 20px;
        margin-top: 10px;
    }
    .img-logo-div {    width: 100%;margin: 20px 0 0px 0;}
    .img-logo-div .img-logo { margin: 0px 0 0 0;width: 100%; }
    .decesion-root {   margin: 20px 0 0 0; }

    .table-custom-responsive .table thead > tr > th > p {  width: 100%;transform: rotate(360deg);height: 100%; }
    .redflag-root { margin: 20px 0 0 0; }
    .redflag-1 {    width: 100%;float: left;}
    .decesion-box-1 h4 {   font-size: 16px; }
    .h3-title-category {    font-size: 14px;}
    .redflag-1 h4.font-600{   font-size: 16px;padding: 0 0 10px 0;margin: 0; }

    /****************************************************************/
    /* Vehicle Safety Checklist */

    .gridbox-v6 h4 { margin: 0 0 15px 0; }
    
    /* End of Vehicle Safety Checklist */
    /****************************************************************/

    /* Invoiced */

    .colbox-in01 .box-in01 span.span-block { line-height: 20px; font-size: 13px; }
    .colbox-in01 .box-in01 h3 { font-size: 18px; line-height: 24px;     }

    /* End of Invoiced */

    .invoicebox-top1 { padding: 0px 0; }
    .invoicebox-top1 h1 {   padding: 0;   margin: 0px 0 0 0;   font-size: 14px;   line-height: 20px; }
    p.bigtxt-1 { font-size: 16px;margin: 0; }
    .invoicebox-top1 h4 { font-size: 16px; line-height: 24px; }

    /**  worksheet-main  ***/ 

    .rowblock01 .width50 {    width: auto; margin: 0 0 10px 0; padding-right: 20px; }
    .rowblock08 .width33 { padding: 00 0px 0 0px; min-width: 25%; width: 25%; }
    
    .wssecond-03 .box3-row1 .rowblock08 .width33 {
        padding: 00 0px 0 0px;
        min-width: 33%;
        width: 33%;
    }

}
